body{
  background-color: rgb(71, 70, 70);
  color: white;
  margin: 0;
}

.BookStore{
  display: flex;
  justify-content: center;
  align-items: center;
}



form label{
  display: inline-block;
  width: 15vw;
  padding: 1vh;
}
form input{
  width: 20vw;
  border: none;
  padding: 1vh;
}

#Selectreact{
  color:black
}

.BookList{
  width: 40vw;
  background-color: gray;
}